@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.board-col{
  border-radius: 8px;
  border: 1px solid #01959F;
  padding: 18px 24px;
  background-color: #F7FEFF;
  min-height: min-content;
}

.group-task {
  padding: 4px 8px;
  border: solid 1px #4DB5BC;
  display: flex;
  border-radius: 4px;
  width: fit-content;
  color: #01959F;
}
.card {
  margin-top: 6px;
  margin-bottom: 6px;
}

.Progress_Status {
  background-color: #EDEDED;
  border-radius: 9999px;
}
  
.myprogressBar {
  width: 20%;
  height: 12px;
  background-color: #01959F;
  text-align: center;
  line-height: 16px;
  color: black;
  border-end-start-radius: 9999px;
  border-start-start-radius: 9999px;
}